<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Auditores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="employee.name" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="employee.endereco" placeholder="Endereço"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="employee.cpf" placeholder="CPF"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="employee.salario" placeholder="Valor/hora (em h)"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-input type="text" [(ngModel)]="employee.picture" placeholder="Foto"></ion-input>
  </ion-item>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveEmployee()" expand="block">
      Salvar Auditor
    </ion-button>
  </ion-toolbar>
</ion-footer>