<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Apartamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="apartment.name" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="apartment.cpf" placeholder="Endereço"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="apartment.description" placeholder="Descrição"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="apartment.price" placeholder="Preço"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="apartment.size" placeholder="Tamanho (em m²)"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-input type="text" [(ngModel)]="apartment.picture" placeholder="Foto"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveApartment()" expand="block">
      Salvar produto
    </ion-button>
  </ion-toolbar>
</ion-footer>