<ion-header>
  <ion-toolbar>
    <ion-title>Auditoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!audits.length">
    <ion-item *ngFor="let item of [0, 1]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let audit of audits">
      <ion-item button [routerLink]="['/auditdtl', audit.id]">
        <ion-avatar slot="start">
          <img [src]="audit.picture">
        </ion-avatar>

        <ion-label>
          <!--Colocar foto :) -->
          {{ audit.name }}
          <p>{{ audit.local}}</p>
          <p>{{ audit.createdAt | date: 'short' }}</p>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="audit.price">{{ audit.valor | currency: 'BRL' }} p/hora</ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteProduct(audit.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="logout()" color="danger" expand="block">
            Sair
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button routerLink="/auditdtl" expand="block">
            Adc. Auditoria
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>