<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Auditorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="audit.local" placeholder="Local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="audit.nome" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="audit.longitude" placeholder="Longitude" disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="audit.latitude" placeholder="Latitue" disabled></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">

    <ion-button fill="clear" expand="block" color="danger" (click)="checkGPSPermission()">
      <ion-icon name="location-outline" size="small"></ion-icon>Localização atual
    </ion-button>
    </div>
  <div id="mapId3" style="height: 30%; width: 100%;"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveAudit()" expand="block">
      Salvar Auditoria
    </ion-button>
  </ion-toolbar>
</ion-footer>