<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Auditorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="audit.local" placeholder="Local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="audit.nome" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="audit.longitude" placeholder="Longitude"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="audit.latitude" placeholder="Latitue"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">

    <ion-button (click)="getCurrentCoordinates()" expand="block">
      Get Location
    </ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Location Coordinates</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Latitue
      </ion-label>
      <ion-badge color="danger" slot="end">{{latitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Longitude
      </ion-label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="longitude" placeholder="Nome"></ion-input>
      <ion-badge color="danger" slot="end">{{longitude}}</ion-badge>
      </ion-item>
    </ion-item>
    </ion-list>    
  </div>
  <div id="mapId3" style="height: 30%; width: 100%;">

  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="saveAudit()" expand="block">
      Salvar Auditor
    </ion-button>
  </ion-toolbar>
</ion-footer>